<a href="https://colab.research.google.com/github/shivasky18/AVERAGING_MARKS_ML/blob/main/AVERAGING_OF_SLIPTEST_MARKS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
data1=pd.read_csv('/SLIPTEST1.csv')
# print(data.columns)
dataa=data1[['Roll Number','Total score']]
print(data1[['Roll Number','Total score','Name of the Student']])

     Roll Number Total score         Name of the Student
0             ..   0.00 / 10                          ..
1   160121737188   9.00 / 10        Sai Prasad Murakonda
2   160121737176   9.00 / 10                Karike vinay
3   160121737169   9.00 / 10                      Sriram
4   160121737317   8.00 / 10                  Akhil Alle
5   160121737316   9.00 / 10          kotla saketh kumar
6   160121737170   9.00 / 10        Chandrareddy Cheruku
7   160121737184   8.00 / 10                Yatish Manne
8   160121737171   9.00 / 10               Rohith Chowki
9   160121737199   8.00 / 10                   Yeshwanth
10  160121737177   9.00 / 10                Nihas Reddy
11  160121737320   8.00 / 10                  LithikRaj
12  160121737198   8.00 / 10  V Samuel Sachin Shubhankar
13  160121737168   9.00 / 10            Ruthvik Basetti
14  160121737203   8.00 / 10            Pranav Vuddagiri
15  160121737167   8.00 / 10                B.Sai mounik
16  160121737204   8.00 / 10        Vishnu Vamsith Yejju
17  160121737315   8.00 / 10         Akshay Kumar Vennu
18  160121737318   8.00 / 10  Prashanth Reddy Bakkapolla
19  160121737185   9.00 / 10             Gangadhar Marka
20  160121737201   8.00 / 10                  V.Harshith
21  160121737186   8.00 / 10              Mohammed Affan
22  160121737200   8.00 / 10            Vishnu Kamisetti
23  160121737183   8.00 / 10           Mandala Sai Nigam
24  160121737172   8.00 / 10        Abhishek Erugadindla
25  160121737193   8.00 / 10             Sayani Abhiram
26  160121737165   8.00 / 10                 Aryan Durge
27  160121737164   9.00 / 10                 Varun Akula
28  160121737202   9.00 / 10                   Vrishabh
29  160121737162   9.00 / 10              Y N S POOJITHA
30  160121737189   8.00 / 10                 P Siddharth
31  160121737197   9.00 / 10          T.Sai krishna Tej
32  160121737166   8.00 / 10                   Goutham B
33  160121737173   8.00 / 10        Dhanunjai Gujjaboina
34  160121737181   9.00 / 10              Kotigari suman
35  160121737180   9.00 / 10     Kethavath Vamshi Nayak
36  160121737163   9.00 / 10                  abdul bari
37  160121737190   8.00 / 10             Pranav Bhandari
38  160121737175   8.00 / 10              Jilla Mani Tej
39  160121737154   8.00 / 10            Prarthana rajole
40  160121737158   9.00 / 10            Vaishnavi ravela
41  160121737191   8.00 / 10               pyla varshith
42  160121737151   9.00 / 10           Ishita Pallempati

In [59]:

data2=pd.read_csv('/SLIPTEST2.zip')
# print(data.columns)
datab=data2[['Roll Number','Total score']]
print(data2[['Roll Number','Total score','Name of the Student']])

     Roll Number Total score         Name of the Student
0   160121737201   9.00 / 10            Vooradi Harshith
1   160121737316   9.00 / 10          Kotla saketh kumar
2   160121737175   9.00 / 10              Jilla Mani Tej
3   160121737168   8.00 / 10             Ruthvik Basetti
4   160121737185  10.00 / 10             Gangadhar Marka
5   160121737190   9.00 / 10             Pranav Bhandari
6   160121737199   9.00 / 10       Yeshwanth Valishetti
7   160121737164   8.00 / 10                 Varun Akula
8   160121737182   7.00 / 10     Mahesh Krishna Jamched
9   160121737191   8.00 / 10              Pyla Varshith
10  160121737204   8.00 / 10        Vishnu Vamsith Yejju
11  160121737181   9.00 / 10              Kotigari suman
12  160121737177   9.00 / 10          Kasara Nihas Reddy
13  160121737198  10.00 / 10               Samuel sachin
14  160121737318   9.00 / 10  Prashanth Reddy Bakkapolla
15  160121737193   9.00 / 10             Sayani Abhiram
16  160121737170   9.00 / 10                chandrareddy
17  160121737200   9.00 / 10            Vishnu Kamisetti
18  160121737172   9.00 / 10        Abhishek Erugadindla
19  160121737317   9.00 / 10                  Alle Akhil
20  160121737320   6.00 / 10                  LithikRaj
21  160121737182  10.00 / 10      Mahesh Krishna Jamched
22  160121737314  10.00 / 10          Badrigari Poojitha
23  160121737202   9.00 / 10             Vrishabh Leleti
24  160121737176   9.00 / 10                Karike vinay
25  160121737197   9.00 / 10           T.Sai krishna Tej
26  160121737184   9.00 / 10                Yatish Manne
27  160121737203   9.00 / 10           Pranav Vuddagiri
28  160121737315   9.00 / 10         Akshay Kumar Vennu
29  160121737195   9.00 / 10            S. Rohith Reddy
30  160121737165   9.00 / 10                       Aryan
31  160121737186   9.00 / 10              Mohammed Affan
32  160121737188   9.00 / 10        Sai Prasad Murakonda
33  160121737173   9.00 / 10       Dhanunjai Gujjaboina
34  160121737189   6.00 / 10          Pendota Siddharth
35  160121737180   5.00 / 10     Kethavath vamshi nayak
36  160121737167   9.00 / 10            Bachu Sai Mounik
37  160121737166   9.00 / 10                   Goutham B
38  160121737171   9.00 / 10               Rohith Chowki
39  160121737183   9.00 / 10           Mandala Sai Nigam

In [60]:

data3=pd.read_csv('/SLIPTEST3.csv')
# print(data.columns)
datac=data3[['Roll Number','Total score']]
print(data3[['Roll Number','Total score','Name of the Student']])

     Roll Number Total score          Name of the Student
0   160121737170   9.00 / 10                 chandrareddy
1   160121737198   8.00 / 10   V Samuel Sachin Shubhankar
2   160121737193   9.00 / 10               Sayani Abhiram
3   160121737177   9.00 / 10                 Nihas Reddy
4   160121737317   8.00 / 10                   Alle Akhil
5   160121737197   9.00 / 10            T.Sai Krishna Tej
6   160121737204  10.00 / 10         Vishnu Vamsith Yejju
7   160121737168   7.00 / 10             Ruthvik Basetti
8   160121737191  10.00 / 10               Pyla Varshith
9   160121737199  10.00 / 10        Yeshwanth Valishetti
10  160121737185  10.00 / 10              Gangadhar Marka
11  160121737202  10.00 / 10                    Vrishabh
12  160121737183  10.00 / 10            Mandala Sai Nigam
13  160121737203  10.00 / 10            Pranav Vuddagiri
14  160121737320  10.00 / 10                   Lithikraj
15  160121737173  10.00 / 10         Dhanunjai Gujjaboina
16  160121737190  10.00 / 10             Pranav Bhandari
17  160121737200  10.00 / 10             Vishnu Kamisetti
18  160121737181   8.00 / 10               Kotigari suman
19  160121737188  10.00 / 10        Sai Prasad murakonda
20  160121737186   9.00 / 10               Mohammed Affan
21  160121737318  10.00 / 10  Prashanth Reddy Bakkapolla
22  160121737164  10.00 / 10                  Varun Akula
23  160121737182  10.00 / 10      Mahesh Krishna Jamched
24  160121737315   9.00 / 10           Akshay kumar vennu
25  160121737166  10.00 / 10                      Goutham
26  160121737176   9.00 / 10                 Karike vinay
27  160121737172  10.00 / 10         Abhishek Erugadindla
28  160121737201  10.00 / 10                   V.Harshith
29  160121737314   9.00 / 10          Badrigari poojitha
30  160121737195   9.00 / 10             S. Rohith Reddy
31  160121737169   9.00 / 10                       Sriram
32  160121737189   7.00 / 10            Siddharth Pendota

In [63]:
# Convert 'Roll Number' to a common data type (e.g., string) in all DataFrames
dataa['Roll Number'] = dataa['Roll Number'].astype(str)
datab['Roll Number'] = datab['Roll Number'].astype(str)
datac['Roll Number'] = datac['Roll Number'].astype(str)

# Now perform the merge operations
# Change on=['Roll Number,Name of the Student'] to on=['Roll Number', 'Name of the Student']
merged_data1_2 = pd.merge(dataa, datab, on='Roll Number', how='outer', suffixes=('_test1', '_test2'))
data= pd.merge(merged_data1_2, datac, on='Roll Number', how='outer', suffixes=('_test1_test2', '_test3'))
print(data)

     Roll Number Total score_test1 Total score_test2 Total score
0             ..         0.00 / 10               NaN         NaN
1   160121737151         9.00 / 10               NaN         NaN
2   160121737154         8.00 / 10               NaN         NaN
3   160121737158         9.00 / 10               NaN         NaN
4   160121737162         9.00 / 10               NaN         NaN
5   160121737163         9.00 / 10               NaN         NaN
6   160121737164         9.00 / 10         8.00 / 10  10.00 / 10
7   160121737165         8.00 / 10         9.00 / 10         NaN
8   160121737166         8.00 / 10         9.00 / 10  10.00 / 10
9   160121737167         8.00 / 10         9.00 / 10         NaN
10  160121737168         9.00 / 10         8.00 / 10   7.00 / 10
11  160121737169         9.00 / 10               NaN   9.00 / 10
12  160121737170         9.00 / 10         9.00 / 10   9.00 / 10
13  160121737171         9.00 / 10         9.00 / 10         NaN
14  160121737172         8.00 / 10         9.00 / 10  10.00 / 10
15  160121737173         8.00 / 10         9.00 / 10  10.00 / 10
16  160121737175         8.00 / 10         9.00 / 10         NaN
17  160121737176         9.00 / 10         9.00 / 10   9.00 / 10
18  160121737177         9.00 / 10         9.00 / 10   9.00 / 10
19  160121737180         9.00 / 10         5.00 / 10         NaN
20  160121737181         9.00 / 10         9.00 / 10   8.00 / 10
21  160121737182               NaN         7.00 / 10  10.00 / 10
22  160121737182               NaN        10.00 / 10  10.00 / 10
23  160121737183         8.00 / 10         9.00 / 10  10.00 / 10
24  160121737184         8.00 / 10         9.00 / 10         NaN
25  160121737185         9.00 / 10        10.00 / 10  10.00 / 10
26  160121737186         8.00 / 10         9.00 / 10   9.00 / 10
27  160121737188         9.00 / 10         9.00 / 10  10.00 / 10
28  160121737189         8.00 / 10         6.00 / 10   7.00 / 10
29  160121737190         8.00 / 10         9.00 / 10  10.00 / 10
30  160121737191         8.00 / 10         8.00 / 10  10.00 / 10
31  160121737193         8.00 / 10         9.00 / 10   9.00 / 10
32  160121737195               NaN         9.00 / 10   9.00 / 10
33  160121737197         9.00 / 10         9.00 / 10   9.00 / 10
34  160121737198         8.00 / 10        10.00 / 10   8.00 / 10
35  160121737199         8.00 / 10         9.00 / 10  10.00 / 10
36  160121737200         8.00 / 10         9.00 / 10  10.00 / 10
37  160121737201         8.00 / 10         9.00 / 10  10.00 / 10
38  160121737202         9.00 / 10         9.00 / 10  10.00 / 10
39  160121737203         8.00 / 10         9.00 / 10  10.00 / 10
40  160121737204         8.00 / 10         8.00 / 10  10.00 / 10
41  160121737314               NaN        10.00 / 10   9.00 / 10
42  160121737315         8.00 / 10         9.00 / 10   9.00 / 10
43  160121737316         9.00 / 10         9.00 / 10         NaN
44  160121737317         8.00 / 10         9.00 / 10   8.00 / 10
45  160121737318         8.00 / 10         9.00 / 10  10.00 / 10
46  160121737320         8.00 / 10         6.00 / 10  10.00 / 10

<ipython-input-63-cb0d896cacbf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataa['Roll Number'] = dataa['Roll Number'].astype(str)
<ipython-input-63-cb0d896cacbf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datab['Roll Number'] = datab['Roll Number'].astype(str)
<ipython-input-63-cb0d896cacbf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac['Roll Number'] = datac['Roll Number'].astype(str)

In [68]:
# import pandas as pd

# # Load your dataset
# data = pd.read_csv('your_file.csv')  # Replace with the actual file name

# Function to convert 'x.xx / 10' string to a float
def convert_to_float(score_str):
    if pd.isna(score_str):
        return None
    return float(score_str.split(' / ')[0])

# Apply the function to each score column
data['Score_test1'] = data['Total score_test1'].apply(convert_to_float)
data['Score_test2'] = data['Total score_test2'].apply(convert_to_float)
data['Score_test3'] = data['Total score'].apply(convert_to_float)

# Define a function to calculate the best two scores average or single score average with others
def best_or_single_avg(scores):
    # Remove None values (missing scores)
    scores = [score for score in scores if score is not None]

    # If there are fewer than 1 valid score, return None
    if len(scores) < 1:
        return None

    # If there is only 1 valid score, average it with the other two if possible
    if len(scores) == 1:
        # Find the missing scores
        missing_scores = [score for score in [scores[0], None, None] if score is None]
        # If two scores are missing, return the single score
        if len(missing_scores) == 2:
            return scores[0]
        else:
            # Average the single score with available other scores
            valid_scores = [scores[0]] + [score for score in scores[1:] if score is not None]
            return sum(valid_scores) / len(valid_scores)

    # If there are two valid scores, return the average of those two
    if len(scores) == 2:
        return sum(scores) / 2

    # If there are three valid scores, return the average of the best two
    scores.sort(reverse=True)
    return sum(scores[:2]) / 2

# Apply the function across rows to calculate the best two averages
data['Best_Two_Average'] = data[['Score_test1', 'Score_test2', 'Score_test3']].apply(best_or_single_avg, axis=1)

# Print the result
print(data[['Roll Number', 'Best_Two_Average']])

# Optionally, save the result to a new CSV file
# data.to_csv('best_two_average_result.csv', index=False)

     Roll Number  Best_Two_Average
0             ..               NaN
1   160121737151               NaN
2   160121737154               NaN
3   160121737158               NaN
4   160121737162               NaN
5   160121737163               NaN
6   160121737164               9.5
7   160121737165               8.5
8   160121737166               9.5
9   160121737167               8.5
10  160121737168               8.5
11  160121737169               NaN
12  160121737170               9.0
13  160121737171               9.0
14  160121737172               9.5
15  160121737173               9.5
16  160121737175               8.5
17  160121737176               9.0
18  160121737177               9.0
19  160121737180               7.0
20  160121737181               9.0
21  160121737182               NaN
22  160121737182               NaN
23  160121737183               9.5
24  160121737184               8.5
25  160121737185              10.0
26  160121737186               9.0
27  160121737188               9.5
28  160121737189               7.5
29  160121737190               9.5
30  160121737191               9.0
31  160121737193               9.0
32  160121737195               NaN
33  160121737197               9.0
34  160121737198               9.0
35  160121737199               9.5
36  160121737200               9.5
37  160121737201               9.5
38  160121737202               9.5
39  160121737203               9.5
40  160121737204               9.0
41  160121737314               NaN
42  160121737315               9.0
43  160121737316               9.0
44  160121737317               8.5
45  160121737318               9.5
46  160121737320               9.0

In [77]:
import pandas as pd
import math

# Assuming 'data' contains the merged data with 'Roll Number', 'Total score_test1', 'Total score_test2'
# Step 1: Convert 'NaN' values in the test scores to 0 for students who have only one test score
data['Total score_test1'] = data['Total score_test1'].apply(lambda x: float(str(x).split(' / ')[0]) if pd.notna(x) else 0)
data['Total score_test2'] = data['Total score_test2'].apply(lambda x: float(str(x).split(' / ')[0]) if pd.notna(x) else 0)

# Step 2: Calculate the average score for each student (with respect to two tests, even if one test score is missing)
data['Average Score'] = (data['Total score_test1'] + data['Total score_test2']) / 2

# Step 3: Apply math.ceil() to round up the average score to the nearest integer
data['Average Score'] = data['Average Score'].apply(lambda x: math.ceil(x))

# Step 4: Divide the average score by 2
data['Average Score Divided by 2'] = data['Average Score'] / 2

# Step 5: Apply math.ceil() to round up the result of the division
data['Final Average Score'] = data['Average Score Divided by 2'].apply(lambda x: math.ceil(x))

# Step 6: Print the updated dataframe with roll numbers and their final scores
# print(data[['Roll Number', 'Total score_test1', 'Total score_test2', 'Final Average Score']])
data1=data[['Roll Number','Final Average Score']]
print(data1)
data1.to_csv('final_data.csv', index=False)
# print(data)

     Roll Number  Final Average Score
0             ..                    0
1   160121737151                    3
2   160121737154                    2
3   160121737158                    3
4   160121737162                    3
5   160121737163                    3
6   160121737164                    5
7   160121737165                    5
8   160121737166                    5
9   160121737167                    5
10  160121737168                    5
11  160121737169                    3
12  160121737170                    5
13  160121737171                    5
14  160121737172                    5
15  160121737173                    5
16  160121737175                    5
17  160121737176                    5
18  160121737177                    5
19  160121737180                    4
20  160121737181                    5
21  160121737182                    2
22  160121737182                    3
23  160121737183                    5
24  160121737184                    5
25  160121737185                    5
26  160121737186                    5
27  160121737188                    5
28  160121737189                    4
29  160121737190                    5
30  160121737191                    4
31  160121737193                    5
32  160121737195                    3
33  160121737197                    5
34  160121737198                    5
35  160121737199                    5
36  160121737200                    5
37  160121737201                    5
38  160121737202                    5
39  160121737203                    5
40  160121737204                    4
41  160121737314                    3
42  160121737315                    5
43  160121737316                    5
44  160121737317                    5
45  160121737318                    5
46  160121737320                    4